@{
    ViewBag.Title = "What the heck am I going to do tonight??";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

        </div>
    </section>
}
    <h1 style="margin-top: 0px;" class="gray">I developed this website because:</h1>
    <ol class="round" style="margin-bottom: 80px;">
        <li class="one">
            <h5>I friggin love music</h5>
            <p>I have always felt great while listening to live music.  I lose myself.  I organized concerts at one point in my life and love everything to do with live music.  Period.</p>
        </li>

        <li class="two">
            <h5>I have wanted to make a killer website for a while.</h5>
            I have made websites for other people for a long time.  It's time to make one for me.  And something that is in short supply is an easy way to find concerts.  Sorry for keeping my idea from you for so long universe!
        </li>

        <li class="three">
            <h5>Get a better understanding of MVC4</h5>
            I have done a professional site with MVC3, but wanted to take the time to do one properly and combine it with the awesomeness of HTML5.  Check out my skillz yo!
        </li>
    </ol>
